# Virtual Environment
backend/venv/

# Environment Variables
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
backend/db.sqlite3
*.log

# VS Code
.vscode/

# Static & Media Files
media/
staticfiles/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Migrations (optional)
# Uncomment ONLY if you don't want migrations in Git
# */migrations/*
# !*/migrations/__init__.py